body {
        background-color: rgb(198, 237, 245);
}
h1{
        color: rgb(192,2,148);
        font-size: 150px;
        text-align: center;
}
#cart{ 
        background-color: transparent;
        width: 45px;
        height: 45px;
}
h2{
        text-align: center;
        font-size: 90px;
}
#paintbrushes{
        width: 150px;
        height: 150px;
}
#pencils{
         width: 150px;
         height: 150px;
        padding-right: 5px;
        padding-left: 5px;
}
#paints{
         width: 150px;
         height: 150px;
}
p{
        text-align: center;
        font-size: 18px;
}
#cartbutton{
        float: right;
        margin-top: 5px;
}
#productbutton{
        text-align: center;
        color: rgb(192,2,148);
        background-color: rgb(197, 198, 201);
        border-radius: 8px;
}
#aboutbutton{
        text-align: center;
        color: rgb(192,2,148);
        background-color: rgb(197, 198, 201);
        border-radius: 8px;
}
