<style>
    body{
        background-color:#d5f1f3;
    }    
    background-color:#d5f1f3;
    h1{
        color:blue;
        font-size:80px;
    }
   #cart{ 
        padding:30px;
        background-color:transparent;
        width:80px;
        height:80px;
   }
   h2{
        float:both;
   }
    #paintbrushes{
        
        width:120px;
        height:120px;
    }
    #pencils{
         width:120px;
         height:120px;
    }
    #paints{
         width:120px;
         height:120px;
    }
    p{
        font-size: 18px;
    }
  </style>
