body {
        background-color: rgb(198, 237, 245);
}
h1{
        color: blue;
        font-size: 80px;
        text-align: center;
}
#cart{ 
        float: right;
        background-color: transparent;
        width: 80px;
        height: 80px;
}
h2{
        text-align: center;
}
#paintbrushes{
        
        width: 120px;
        height: 120px;
}
#pencils{
         width: 120px;
         height: 120px;
}
#paints{
         width: 120px;
         height: 120px;
}
p{
        font-size: 18px;
}
