body {
        background-color: rgb(198, 237, 245);
}
h1{
        color: rgb(252, 3, 194);
        font-size: 150px;
        text-align: center;
}
#cart{ 
        float: right;
        background-color: transparent;
        width: 45px;
        height: 45px;
}
h2{
        text-align: center;
}
#paintbrushes{
        text-align: center
        width: 120px;
        height: 120px;
}
#pencils{
         width: 120px;
         height: 120px;
}
#paints{
         width: 120px;
         height: 120px;
}
p{
        font-size: 18px;
}
#cartbutton{
        float: right;
}
#productbutton{
        text-align: center;
        color: rgb(252, 3, 194);
        background-color: rgb(197, 198, 201);
        border-radius: 8px;
}
#aboutbutton{
        text-align: center;
        color: rgb(252, 3, 194);
        background-color: rgb(197, 198, 201);
        border-radius: 8px;
}
